.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.formDiv{
  background-color: #063970;
  width: 80%;
  height: 70vh;
}
.headerDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.bodyDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.task-content {
  display: flex;
  align-items: center;
}
.task-name{
  margin-right: 50px;
}
.form{  
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto 50px auto;
}
.inp{
  width:30vw;
  height: 4.5vh;
  border-radius: 10px 0 0 10px;
  border: 2px solid #106cfc;
}
.addBtn{
  width: 70px;
  height:4.5vh;
  text-align: center;
  background-color: #106cfc;
  border: none;
  border-radius: 0 10px 10px 0 !important;
  color: white;
}

.taskBtns{
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 5px;
}
.oldTasks{
  width: 50px;
  height:50px;
  cursor: pointer;
}
@media (max-width: 1180px) {
  .inp{
    width:35vw;
  }
}
@media (max-width: 600px) {
  .inp{
    width:100%;
  }
  .oldTasks{
    width: 45px;
    height:45px;
  }
}